$tablet: 768px;
.New_From_Us_Section {
  display: flex;
  flex-direction: column;
  width: 100%;
  & .New_From_Us_Header {
  }
}
.New_From_Us_Body {
  display: flex;
  width: 100%;
  position: relative;
  flex-direction: column;
}

.Large_Product_Card {
  flex: 1;
}

.Large_Product_Image {
  position: relative;
  width: 100%;
  height: auto;
}
