.Latest_And_Greatest_Section {
  display: flex;
  flex-direction: column;
  width: 100%;
  .Latest_And_Greatest_Header {
  }
  .Latest_And_Greatest_Body {
    width: 100%;
    display: flex;
    border: 1px solid green;
    overflow-x: auto;
    flex-wrap: nowrap;
    overflow-y: hidden;
  }
}

.Large_Product_Card {
  display: flex;
  flex-direction: column;
  max-width: 50%;
  padding-left: 5px;
  padding-right: 5px;
  position: relative;
  & .Large_Product_Header {
  }
  & .Large_Product_Image {
  }
  & .Large_Product_Chart {
    width: 100%;
    height: 130px;
  }
}
