.Latest_And_Greatest_Section {
  display: flex;
  flex-direction: column;
  width: 100%;
  .Latest_And_Greatest_Header {
  }
  .Latest_And_Greatest_Body {
    width: 100%;
    display: flex;
    overflow-x: auto;
    flex-wrap: nowrap;
    overflow-y: hidden;
  }
}
