.navagationContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.logo {
  width: 20%;

  & img {
    object-fit: contain;
    width: 100%;
    height: auto;
  }
}
.NavigationBar {
  display: flex;
  justify-content: center;
}

.NavLink {
  width: 60%;
  padding: 14px 12px;
  font-weight: 400;
  font-size: 1.2rem;
  text-transform: uppercase;
  border-bottom: 2px solid transparent;
  text-decoration: none;
  cursor: pointer;
  &:hover {
    border-bottom: 2px solid #426ba7;
    color: #426ba7;
  }
  & a {
    text-decoration: none;
  }
}

.LittlePhrase {
  width: 20%;
}
