$mobileS: 320px;
$mobileM: 375px;
$mobileL: 425px;
$tablet: 768px;
$laptop: 1024px;
$laptopL: 1440px;

.Product_Grid {
  display: grid;
  grid-gap: 5px;
  width: 100%;
  @media (min-width: $mobileS) {
  }
  @media (min-width: $mobileM) {
  }
  @media (min-width: $mobileL) {
    grid-template-columns: repeat(1, 1fr);
  }

  @media (min-width: $tablet) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: $laptopL) {
    grid-template-columns: repeat(3, 1fr);
  }
}
