.Product_Card {
  width: auto;
  border: 1px solid transparent;
  text-align: left;
  cursor: pointer;
  position: relative;
  margin-bottom: 10px;
  margin-left: 2px;
  margin-right: 2px;
  padding: 4px;
}

.Product_Card_Container {
  background: linear-gradient(135deg, #1e1e24 10%, #050505 60%);
  background: linear-gradient(133deg, #f1f1f1 10%, #e0e0e0 90%);
  /*  background: hsla(0, 100%, 100%, 0.25); */
  box-shadow: 0 0 8px hsla(0, 100%, 100%, 0.25);
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  & img {
    width: 100%;
    height: auto;
  }
}
.Product_Card_QuickInfo {
  color: hsla(0, 100%, 100%, 0.25);
  font-size: 16px;
  & .Title {
    font-weight: 500;
    color: rgb(17, 17, 17);
  }
}

.Product_Card_Images {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}

.Card_SubSection {
  min-height: 185px;
  padding: 18px 0 12px;
}
