.ProductAbout {
  & header {
    & hr {
      width: 100%;
    }
  }
}
.Product {
  width: 100%;
  & p {
    font-size: 16;
    line-height: 1.75;
    letter-spacing: 1px;
  }
}

.ProductHeader {
}

.Image_Card {
  width: 100%;
  margin-bottom: 12px;
  padding-left: 8px;
  padding-right: 4px;

  & img {
    width: 100%;
    height: auto;
  }
}

.ButtonContainer {
  width: 100%;
}
.ProductAbout {
  padding-right: 24px;
  padding-left: 24px;
}

.AddToCart {
  width: 100%;
  cursor: pointer;
  padding: 18px 24px;
  border: none;
  font-size: 16px;
  color: white;
  font-weight: 500;
  transition: all 0.2s ease;
  background: rgba(0, 0, 0, 1);
  &:hover {
    background: rgba(0, 0, 0, 0.75);
  }
}

.ProductDetailsList {
  margin: 0;
  padding: 0;
  & p {
    padding: 0;
    margin: 0;
    font-weight: 500;
  }
  & li {
    padding-left: 1em;
  }
}
