.ProductBody {
  padding: 8px;
  width: 100%;
  & p {
    font-size: 16;
    line-height: 1.75;
    letter-spacing: 1px;
  }
}

.Image_Card {
  width: 100%;
  margin-bottom: 12px;

  & img {
    width: 100%;
    height: auto;
  }
}

.AboutBody {
  padding: 8px;
}

.ProductDetailsList {
  margin: 0;
  padding: 0;
  & p {
    padding: 0;
    margin: 0;
    font-weight: 500;
  }
  & li {
    padding-left: 1em;
  }
}
.ProductDetails {
  padding: 8px;
}

.DetailBlockContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 8px;
  border: 1px solid black;
  border-radius: 10px;
}

.DetailsLeftColumn {
  grid: 1 / 2;
}
.DetailsRightColumn {
  grid: 2 / 3;
}

.CategoryBlock {
  padding: 16px;
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  font-size: 20px;
}

.Spec {
  min-height: 26px;
  padding-top: 4px;
  padding-left: 8px;
  padding-right: 8px;
  margin-bottom: 1px;
  color: #6713bf;
  &::selection {
    background: #54a5d4;
  }
}
