.backgroundOverlay {
  position: fixed;
  left: 0;
  top: 0;
  height: 90vh;
  width: 98vw;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalCard {
  background-color: white;
  color: black;
}
