.AddToCartForm {
  display: flex;
  flex-direction: column;
}
.ButtonContainer {
  width: 100%;
}

.AddToCart {
  width: 100%;
  cursor: pointer;
  padding: 18px 24px;
  border: none;
  font-size: 16px;
  color: white;
  font-weight: 500;
  transition: all 0.2s ease;
  background: rgba(0, 0, 0, 1);
  &:hover {
    background: rgba(0, 0, 0, 0.75);
  }
}

.color {
  width: 69px;
  height: 69px;
  & img {
    width: 100%;
    height: auto;
    object-fit: center;
  }
}
