.LatestProductCard {
  min-width: 400px;
  max-width: 586px;
  margin-right: 16px;
  flex: 0 0 auto;
  height: 100%;
  position: relative;
  overflow: none;
}
.LatestProductInfo {
  display: flex;
  justify-content: space-between;
}

.ImageContainer {
  width: 100%;
  min-height: 300px;
  max-height: 400px;
  background-color: gray;
  display: flex;
  align-items: center;
  & img {
    width: 100%;
    height: 100%;
    object-fit: center;
  }
}
