.CommentSection {
  display: flex;
  flex-direction: column;
  & .CommentSectionHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  & .CommentList {
    display: flex;
    flex-direction: column;
  }
}

.CommentCard {
  display: flex;
  flex-direction: column;
  border: 1px solid cyan;
  border-radius: 4px;
  padding: 24px 48px 24px 24px;
  & .CommentCardHeader {
    display: flex;
    justify-content: space-between;
    font-weight: 400;
  }
}
