.AboutViewNav {
  border-bottom: 1px solid black;
  & button {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 16px;
    border: 2px solid transparent;
    cursor: pointer;
    text-decoration: none;
    border: none;
    background: none;
    text-align: left;
    margin-right: 10px;
    &:hover {
      border-bottom: 2px solid #426ba7;
      color: #426ba7;
    }
  }
}
