.footer {
  width: 100%;
  background-color: #111111;
  color: #fff;
}
.FooterBody {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.links {
  display: flex;
  flex-direction: column;

  & a {
    font-size: 14px;
    margin-bottom: 4px;
    font-weight: 400;
    text-transform: uppercase;
    transition: transform 0.1s ease-in;
    &:hover {
      cursor: pointer;
      color: #426ba7;
      text-decoration: underline;
    }
  }
}

.JoinEmailContainer {
  display: flex;
  flex-direction: column;
}
