$tablet: 768px;

.Featured_Product_Section {
  width: 100%;
}
.Featured_Product_Header {
}
.Featured_Product_Body {
  display: flex;

  justify-content: space-between;
  flex-direction: row;
  @media (min-width: $tablet) {
    flex-direction: column-reverse;
  }
}

.Featured_Product_Info {
  display: flex;
  flex-direction: column;
  width: 100%;
  @media (min-width: $tablet) {
    flex-direction: row;
  }
  p {
    padding: 10px;
    @media (min-width: $tablet) {
      height: auto;
      flex: 1;
    }
  }
  .LineChart {
    position: relative;
    @media (min-width: $tablet) {
      height: auto;
      flex: 1;
    }
  }
}

.Featured_Product_Image {
  width: 100%;
  position: relative;
  height: auto;
}
